[submodule "intranet"]
	path = intranet
	url = https://github.com/tjcsl/ion.git
[submodule "homecoming"]
	path = homecoming
	url = https://github.com/tjcsl/homecoming.git
[submodule "tin"]
	path = tin
	url = https://github.com/tjcsl/tin.git
